<!DOCTYPE html>
<html {{ site.language_attributes }}>
  {% block head %}
    {% include 'parts/head.twig' %}
  {% endblock %}
  <body class="{{ body_class }}">
    {{ function('wp_body_open') }}

    <a class="visually-hidden-focusable" href="#content">{{ _e('Skip to content') }}</a>

    {% do action('get_header') %}

    {% block header %}
      {% include 'parts/header.twig' %}
    {% endblock %}

    <main id="content">
      {% block content %}
        {{ _e('Sorry, no content!') }}
      {% endblock %}
    </main>

    {% block footer %}
      {% include 'parts/footer.twig' %}
    {% endblock %}

    {{ function('wp_footer') }}

    {% do action('get_footer') %}
  </body>
</html>
